<!DOCTYPE html>
<html>
    <head>
        <title>404Error</title>
        <link rel="icon" href="/img/weather.jpeg">
        <link rel="stylesheet" href="/css/style.css">
    </head>
        <body>
            <div class="main">
                {{>header}}
                <p>{{message}}</p>
            </div>
            {{>footer}}
        </body>
</html>